.home-list{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    color: black;
}
.home-list .item{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    column-gap: 1rem;
    cursor: pointer;
}
.home-list img{
    max-width: 1.5rem;
}
